
<footer class = "footer bg-dark py-3 mt-auto"> <!-- py gives a top and bottom padding. mt-auto will mean that the footer sits at the bottom of the body-->
    <div class="container">
        <span class = "text-muted">&copy; Where's the Bathroom? 2022</span>
    </div>
</footer>